.BuildControls {
    width: 70%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    padding: 10px 0;
    background-color: #2d2a2a;
    color: #e6e6e6;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.OrderButton {
    background-color: black;
    outline: none;
    cursor: pointer;
    color: #e6e6e6;
    border: 1px solid black;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #e6e6e6;
    color: #2d2a2a;
    border: 1px solid #e6e6e6;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}